<div class="adm-container mx-auto mt-2 mb-5">
   <p-card>
      <div>
         <h2>Administración de Planificación</h2>
         <div class="grid">
            <div class="col-6">
               <span>Año:</span>
               <p-select [options]="years" [(ngModel)]="selectedYear" (onChange)="onYearChange()"
                  placeholder="Seleccionar Año" [showClear]="false" class="mx-5"></p-select>
            </div>
         </div>
      </div>

      <div *ngIf="getDependencyTypeNames().length === 0 && !canInitiateFormulation" class="p-text-center p-mt-5">
         <p>No hay formulaciones disponibles para el año {{selectedYear}}.</p>
      </div>

      <div *ngFor="let depTypeName of getDependencyTypeNames()" class="table-container">
         <p-fieldset [legend]="depTypeName">
            <div class="flex justify-content-start flex-wrap mb-3 mx-3">

               <button *ngIf="canInitiateFormulation && depTypeName === 'OOCC'" pButton
                  label="Iniciar Formulación para OOCC" icon="pi pi-plus" class="add-button"
                  (click)="onInitiateFormulationOC()">
               </button>

               <button *ngIf="!canInitiateFormulation && depTypeName === 'OOCC'" pButton
                  label="Nueva Modificatoria para OOCC" icon="pi pi-plus" class="add-button"
                  (click)="openNewModificationDialogOC()">
               </button>

            </div>
            <div *ngIf="!groupedFormulations[depTypeName] || Object.keys(groupedFormulations[depTypeName]).length === 0"
               class="p-text-center p-my-3">
               <p>No hay formulaciones para este tipo de dependencia para el año {{selectedYear}}.</p>
            </div>
            <!-- Loop through FormulationTypes for each DependencyType -->
            <div *ngFor="let formTypeName of getFormulationTypeNames(depTypeName)">
               <p-fieldset [legend]="formTypeName" class="p-mt-3" [collapsed]="false" [toggleable]="true"
                  *ngIf="formTypeName !== 'General'">

                  <div class="flex justify-content-start flex-wrap mb-3 mx-3">

                     <button
                        *ngIf="canInitiateFormulationOODDGestion && depTypeName === 'OODD' &&  formTypeName === 'OODD ACTIVIDADES DE GESTIÓN'"
                        pButton label="Iniciar formulación de actividades de gestión" icon="pi pi-plus"
                        class="add-button" (click)="onInitiateFormulationOODDGestion()">
                     </button>

                     <button
                        *ngIf="!canInitiateFormulationOODDGestion && depTypeName === 'OODD' &&  formTypeName === 'OODD ACTIVIDADES DE GESTIÓN'"
                        pButton label="Nueva Modificatoria de actividades de gestión" icon="pi pi-plus"
                        class="add-button" (click)="openNewModificationDialogOODDGestion()">
                     </button>

                     <button
                        *ngIf="canInitiateFormulationPrestacionesEconomicas && depTypeName === 'OODD' && formTypeName === 'OODD PRESTACIONES ECONÓMICAS'"
                        pButton label="Iniciar formulación para prestaciones económicas" icon="pi pi-plus"
                        class="add-button" (click)="onInitiateFormulationPrestacionesEconomicas()">
                     </button>

                     <button
                        *ngIf="!canInitiateFormulationPrestacionesEconomicas && depTypeName === 'OODD' && formTypeName === 'OODD PRESTACIONES ECONÓMICAS'"
                        pButton label="Nueva Modificatoria para prestaciones económicas" icon="pi pi-plus"
                        class="add-button" (click)="openNewModificationDialogPrestacionesEconomicas()">
                     </button>

                     <button
                        *ngIf="canInitiateFormulationPrestacionesSociales && depTypeName === 'OODD' && formTypeName === 'OODD PRESTACIONES SOCIALES'"
                        pButton label="Iniciar formulación para prestaciones sociales" icon="pi pi-plus"
                        class="add-button" (click)="onInitiateFormulationPrestacionesSociales()">
                     </button>

                     <button
                        *ngIf="!canInitiateFormulationPrestacionesSociales && depTypeName === 'OODD' && formTypeName === 'OODD PRESTACIONES SOCIALES'"
                        pButton label="Nueva Modificatoria para prestaciones sociales" icon="pi pi-plus"
                        class="add-button" (click)="openNewModificationDialogPrestacionesSociales()">
                     </button>

                     <button
                        *ngIf="canInitiateFormulationActividadesSalud && depTypeName === 'OODD' && formTypeName === 'OODD PRESTACIONES DE SALUD'"
                        pButton label="Iniciar formulación para prestaciones de salud" icon="pi pi-plus"
                        class="add-button" (click)="onInitiateFormulationActividadesSalud()">
                     </button>

                     <button
                        *ngIf="!canInitiateFormulationActividadesSalud && depTypeName === 'OODD' && formTypeName === 'OODD PRESTACIONES DE SALUD'"
                        pButton label="Nueva Modificatoria para prestaciones de salud" icon="pi pi-plus"
                        class="add-button" (click)="onNewModificationActividadesSalud()">
                     </button>

                  </div>

                  <div *ngIf="!hasFormulations(depTypeName, formTypeName)" class="p-text-center p-my-3">
                     <p>No hay formulaciones para este tipo de formulación para el año {{selectedYear}}.</p>
                  </div>

                  <!-- Nueva tabla unificada para OODD -->
                  <div *ngIf="hasFormulations(depTypeName, formTypeName)" class="table-container">
                     
                     <!-- Tabla especial para OODD PRESTACIONES DE SALUD -->
                     <div *ngIf="isPrestacionesDeSalud(formTypeName)" class="table-responsive">
                        <p-table [value]="getUnifiedFormulationsPrestacionesSalud(depTypeName, formTypeName)" [paginator]="true"
                           [rows]="10" [tableStyle]="{ 'min-width': '20%' }" stripedRows showGridlines>
                           <ng-template pTemplate="header">
                              <tr>
                                 <th class="centered">Dependencia</th>
                                 <th class="centered">Formulación Inicial</th>
                                 <th class="centered">Primera Modificatoria</th>
                              </tr>
                           </ng-template>
                           <ng-template pTemplate="body" let-prestacionRow>
                              <tr>
                                 <td>{{ prestacionRow.dependencyName }}</td>
                                 <td class="centered">
                                    <p-badge 
                                       [value]="prestacionRow.formulacionInicial ? 'Iniciado' : 'No iniciado'"
                                       [severity]="prestacionRow.formulacionInicial ? 'success' : 'secondary'">
                                    </p-badge>
                                 </td>
                                 <td class="centered">
                                    <p-badge 
                                       [value]="prestacionRow.primeraModificatoria ? 'Iniciado' : 'No iniciado'"
                                       [severity]="prestacionRow.primeraModificatoria ? 'success' : 'secondary'">
                                    </p-badge>
                                 </td>
                              </tr>
                           </ng-template>
                           <ng-template pTemplate="emptymessage">
                              <tr>
                                 <td colspan="3" class="p-text-center">No hay formulaciones en este grupo.</td>
                              </tr>
                           </ng-template>
                        </p-table>
                     </div>

                     <!-- Tabla normal para otros tipos de formulación OODD -->
                     <div *ngIf="!isPrestacionesDeSalud(formTypeName)" class="table-responsive">
                        <p-table [value]="getUnifiedFormulations(depTypeName, formTypeName)" [paginator]="true"
                           [rows]="10" [tableStyle]="{ 'min-width': '20%' }" stripedRows showGridlines>
                           <ng-template pTemplate="header">
                              <tr>
                                 <th class="centered" [attr.rowspan]="2">Dependencia</th>
                                 <th *ngFor="let modNum of getExistingModifications(depTypeName, formTypeName); trackBy: trackByModNumber"
                                    class="centered" [attr.colspan]="2">
                                    {{ modificationLabels[modNum] || 'Modificatoria Desconocida' }}
                                 </th>
                              </tr>
                              <tr>
                                 <ng-container
                                    *ngFor="let modNum of getExistingModifications(depTypeName, formTypeName); trackBy: trackByModNumber">
                                    <th class="centered">Abierto desde</th>
                                    <th class="centered">Activo</th>
                                 </ng-container>
                              </tr>
                           </ng-template>
                           <ng-template pTemplate="body" let-unifiedRow>
                              <tr>
                                 <td>{{ unifiedRow.dependencyName }}</td>
                                 <ng-container
                                    *ngFor="let modNum of getExistingModifications(depTypeName, formTypeName); trackBy: trackByModNumber">
                                    <td class="centered">
                                       {{ unifiedRow.modifications[modNum]?.quarter ?
                                       quarterLabels[unifiedRow.modifications[modNum].quarter] : '-' }}
                                    </td>
                                    <td class="centered">
                                       <p-checkbox *ngIf="unifiedRow.modifications[modNum]; else noFormulation"
                                          [(ngModel)]="unifiedRow.modifications[modNum].active" [binary]="true"
                                          (onChange)="onActiveChange(unifiedRow.modifications[modNum], $event)">
                                       </p-checkbox>
                                       <ng-template #noFormulation>-</ng-template>
                                    </td>
                                 </ng-container>
                              </tr>
                           </ng-template>
                           <ng-template pTemplate="emptymessage">
                              <tr>
                                 <td [attr.colspan]="1 + (getExistingModifications(depTypeName, formTypeName).length * 2)"
                                    class="p-text-center">No hay formulaciones en este grupo.</td>
                              </tr>
                           </ng-template>
                        </p-table>
                     </div>
                     
                  </div>
               </p-fieldset>

               <!-- For "General" (OC), display without inner fieldset -->
               <div *ngIf="formTypeName === 'General'">
                  <div *ngIf="!hasFormulations(depTypeName, formTypeName)" class="p-text-center p-my-3">
                     <p>No hay formulaciones para este tipo de dependencia para el año {{selectedYear}}.</p>
                  </div>

                  <!-- Nueva tabla unificada para General (OOCC) - siempre tabla normal -->
                  <div *ngIf="hasFormulations(depTypeName, formTypeName)" class="table-container">
                     <div class="table-responsive">
                        <p-table [value]="getUnifiedFormulations(depTypeName, formTypeName)" [paginator]="true"
                           [rows]="10" [tableStyle]="{ 'min-width': '100%' }" stripedRows showGridlines>
                           <ng-template pTemplate="header">
                              <tr>
                                 <th class="centered" [attr.rowspan]="2">Dependencia</th>
                                 <th *ngFor="let modNum of getExistingModifications(depTypeName, formTypeName); trackBy: trackByModNumber"
                                    class="centered" [attr.colspan]="2">
                                    {{ modificationLabels[modNum] || 'Modificatoria Desconocida' }}
                                 </th>
                              </tr>
                              <tr>
                                 <ng-container
                                    *ngFor="let modNum of getExistingModifications(depTypeName, formTypeName); trackBy: trackByModNumber">
                                    <th class="centered">Abierto desde</th>
                                    <th class="centered">Activo</th>
                                 </ng-container>
                              </tr>
                           </ng-template>
                           <ng-template pTemplate="body" let-unifiedRow>
                              <tr>
                                 <td>{{ unifiedRow.dependencyName }}</td>
                                 <ng-container
                                    *ngFor="let modNum of getExistingModifications(depTypeName, formTypeName); trackBy: trackByModNumber">
                                    <td class="centered">
                                       {{ unifiedRow.modifications[modNum]?.quarter ?
                                       quarterLabels[unifiedRow.modifications[modNum].quarter] : '-' }}
                                    </td>
                                    <td class="centered">
                                       <p-checkbox *ngIf="unifiedRow.modifications[modNum]; else noFormulation"
                                          [(ngModel)]="unifiedRow.modifications[modNum].active" [binary]="true"
                                          (onChange)="onActiveChange(unifiedRow.modifications[modNum], $event)">
                                       </p-checkbox>
                                       <ng-template #noFormulation>-</ng-template>
                                    </td>
                                 </ng-container>
                              </tr>
                           </ng-template>
                           <ng-template pTemplate="emptymessage">
                              <tr>
                                 <td [attr.colspan]="1 + (getExistingModifications(depTypeName, formTypeName).length * 2)"
                                    class="p-text-center">No hay formulaciones en este grupo.</td>
                              </tr>
                           </ng-template>
                        </p-table>
                     </div>
                  </div>
               </div>
            </div>
         </p-fieldset>
      </div>
   </p-card>
</div>

<div class="success-animation" *ngIf="showSuccessAnimation">
   <ng-lottie [options]="options"></ng-lottie>
   <div class="message">Formulación iniciada correctamente</div>
</div>


<p-dialog header="Nueva Modificatoria para OOCC" [(visible)]="displayNewModificationDialog" [modal]="true"
   [style]="{width: '35vw'}" [breakpoints]="{ '960px': '80vw', '640px': '95vw' }" [draggable]="false"
   [resizable]="false">
   <div class="p-fluid">
      <div class="p-field">
         <label for="newQuarter" class="mr-8 lg:mr-8">Abierto desde:</label>
         <p-select id="newQuarter" [options]="quarterOptions" [(ngModel)]="newModificationQuarter" optionLabel="label"
            optionValue="value" placeholder="Trimestre" [showClear]="false" appendTo="body" class="ml-6 lg:ml-8">
         </p-select>
      </div>
   </div>

   <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" styleClass="p-button-text"
         (click)="displayNewModificationDialog = false" class="cancel-button"></button>
      <button pButton label="Crear" icon="pi pi-check" (click)="addNewModificationOC()" class="add-button"></button>
   </ng-template>
</p-dialog>

<p-dialog header="Nueva Modificatoria de Actividades de Gestión OODDGestion"
   [(visible)]="displayNewModificationDialogOODDGestion" [modal]="true" [style]="{width: '35vw'}"
   [breakpoints]="{ '960px': '80vw', '640px': '95vw' }" [draggable]="false" [resizable]="false">
   <div class="p-fluid">
      <div class="p-field">
         <label for="newQuarterOODDGestion" class="mr-8 lg:mr-8">Abierto desde:</label>
         <p-select id="newQuarterOODDGestion" [options]="quarterOptions" [(ngModel)]="newModificationQuarterOODDGestion"
            optionLabel="label" optionValue="value" placeholder="Trimestre" [showClear]="false" appendTo="body"
            class="ml-6 lg:ml-8">
         </p-select>
      </div>
   </div>

   <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" styleClass="p-button-text"
         (click)="displayNewModificationDialogOODDGestion = false" class="cancel-button"></button>
      <button pButton label="Crear" icon="pi pi-check" (click)="addNewModificationOODDGestion()"
         class="add-button"></button>
   </ng-template>
</p-dialog>

<p-dialog header="Nueva Modificatoria para Prestaciones Económicas"
   [(visible)]="displayNewModificationDialogPrestacionesEconomicas" [modal]="true" [style]="{width: '35vw'}"
   [breakpoints]="{ '960px': '80vw', '640px': '95vw' }" [draggable]="false" [resizable]="false">
   <div class="p-fluid">
      <div class="p-field">
         <label for="newQuarterPrestacionesEconomicas" class="mr-8 lg:mr-8">Abierto desde:</label>
         <p-select id="newQuarterPrestacionesEconomicas" [options]="quarterOptions"
            [(ngModel)]="newModificationQuarterPrestacionesEconomicas" optionLabel="label" optionValue="value"
            placeholder="Trimestre" [showClear]="false" appendTo="body" class="ml-6 lg:ml-8">
         </p-select>
      </div>
   </div>

   <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" styleClass="p-button-text"
         (click)="displayNewModificationDialogPrestacionesEconomicas = false" class="cancel-button"></button>
      <button pButton label="Crear" icon="pi pi-check" (click)="addNewModificationPrestacionesEconomicas()"
         class="add-button"></button>
   </ng-template>
</p-dialog>

<p-dialog header="Nueva Modificatoria para Prestaciones Sociales"
   [(visible)]="displayNewModificationDialogPrestacionesSociales" [modal]="true" [style]="{width: '35vw'}"
   [breakpoints]="{ '960px': '80vw', '640px': '95vw' }" [draggable]="false" [resizable]="false">
   <div class="p-fluid">
      <div class="p-field">
         <label for="newQuarterPrestacionesSociales" class="mr-8 lg:mr-8">Abierto desde:</label>
         <p-select id="newQuarterPrestacionesSociales" [options]="quarterOptions"
            [(ngModel)]="newModificationQuarterPrestacionesSociales" optionLabel="label" optionValue="value"
            placeholder="Trimestre" [showClear]="false" appendTo="body" class="ml-6 lg:ml-8">
         </p-select>
      </div>
   </div>

   <ng-template pTemplate="footer">
      <button pButton label="Cancelar" icon="pi pi-times" styleClass="p-button-text"
         (click)="displayNewModificationDialogPrestacionesSociales = false" class="cancel-button"></button>
      <button pButton label="Crear" icon="pi pi-check" (click)="addNewModificationPrestacionesSociales()"
         class="add-button"></button>
   </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>