<app-menubar></app-menubar>
<div class="modulos">
    <app-adm-usuarios-modulo *ngIf="canSeeAdmComponent()"></app-adm-usuarios-modulo>    
    <app-adm-oe-ae-modulo *ngIf="canSeeAdmComponent()"></app-adm-oe-ae-modulo>
    <app-adm-planificacion-modulo *ngIf="canSeeAdmComponent()"></app-adm-planificacion-modulo>
    <app-adm-maestros-ipress-modulo *ngIf="canSeeAdmComponent()"></app-adm-maestros-ipress-modulo>
    <app-adm-maestros-psa-modulo *ngIf="canSeeAdmComponent()"></app-adm-maestros-psa-modulo>
    <app-adm-maestros-ag-modulo *ngIf="canSeeAdmComponent()"></app-adm-maestros-ag-modulo>
    <app-adm-maestros-pe-modulo *ngIf="canSeeAdmComponent()"></app-adm-maestros-pe-modulo>
    <app-adm-maestros-pso-modulo *ngIf="canSeeAdmComponent()"></app-adm-maestros-pso-modulo>
</div>
<app-footer></app-footer>
