footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  color: #fff;
  text-align: center;
  padding: 2px 0.5px;
  font-size: 0.85rem;
  z-index: 1000; // Asegura que esté encima de otros elementos
}