.selector-bar {
  background-color: var(--primary); /* azul */
  padding: 0.5rem;
  display: flex;
  align-items: flex-start;
  color: white;
  border-radius: 4px;
  margin: 10px 0px;
}

.selector-group {
  display: flex;
  flex-direction: column;
}

.selector-label {
  white-space: nowrap;
  margin-bottom: 0.25rem;
}

.buscar-btn {
  border-radius: 4px;
  padding: 9.5px;
  margin-top: 20px;
  cursor: pointer;
  align-self: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  background-color: white;
  color: var(--primary);
  border: 1px solid transparent;
}

.buscar-btn:hover {
  background-color: var(--primary);
  color: white;
  border: 1px solid white;
}

.buscar-btn .pi {
  font-size: 1rem; // más grande
}