<app-menubar></app-menubar>

<app-selector-sociales
  (buscar)="manejarBusqueda($event)"
  (cambioAno)="onSelectorChange({ano: $event})"
  (cambioDependencia)="onSelectorChange({dependencia: $event})"
  (formulationSelected)="manejarBusqueda($event)"
  (formulationUpdated)="onFormulationUpdated($event)"
  [hasActivities]="activitiesCount > 0"
></app-selector-sociales>

<app-formulacion-sociales-tabla
  [currentFormulation]="currentFormulation"
  [selectedSize]="'small'"
  [strategicObjectives]="strategicObjectives"
  [strategicActions]="strategicActions"
  [financialFunds]="financialFunds"
  [managementCenters]="managementCenters"
  [costCenters]="costCenters"
  [measurementTypes]="measurementTypes"
  [priorities]="priorities"
  (seleccionCambio)="onSeleccionAccion($event)">
</app-formulacion-sociales-tabla>


<app-footer></app-footer>