<app-menubar></app-menubar>

<app-selector
  (buscar)="manejarBusqueda($event)"
  (cambioAno)="limpiarTabla()"
  (formulationSelected)="manejarBusqueda($event)"
  (formulationUpdated)="onFormulationUpdated($event)"
></app-selector>

<app-formulacion-tabla
  [ano]="currentFormulation?.year?.toString() || null"
  [idFormulation]="currentFormulation?.idFormulation || null"
  [idDependency]="currentFormulation?.dependency?.idDependency?.toString() || null"
  [currentFormulation]="currentFormulation"
  [mostrar]="mostrarTabla"
  (seleccionCambio)="onSeleccionAccion($event)"
></app-formulacion-tabla>

<app-footer></app-footer>