<div class="p-mb-4">
  <p-button
    label="Agregar Actividad"
    icon="pi pi-plus"
    (click)="agregarActividad()"
    severity="success">
  </p-button>
</div>

<p-table [value]="products" dataKey="idOperationalActivity" editMode="row" [tableStyle]="{'min-width': '120rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>Código de actividad</th>
      <th>Nombre de actividad</th>
      <th>Unidad de medida</th>
      <th>Objetivo estratégico</th>
      <th>Acción estratégica</th>
      <th>Fondo financiero</th>
      <th>Centro gestor</th>
      <th>Centro de costos</th>
      <th>Tipo de medida</th>
      <th>Prioridad</th>
      <th>Meta esperada</th>
      <th>Meta ejecutada</th>
      <th>Bienes</th>
      <th>Remuneraciones</th>
      <th>Servicios</th>
      <th>Trimestre I</th>
      <th>Trimestre II</th>
      <th>Trimestre III</th>
      <th>Trimestre IV</th>
      <th>Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="product">
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.sapCode" type="text" [disabled]="true" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.sapCode }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.name" type="text" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.name }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.measurementUnit" type="text" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.measurementUnit }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="strategicObjectives"
              optionLabel="name"
              optionValue="idStrategicObjective"
              [(ngModel)]="product.strategicAction.strategicObjective.idStrategicObjective"
              (onChange)="onStrategicObjectiveChange($event, product)"
              [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ getStrategicObjectiveName(product.strategicAction?.strategicObjective?.idStrategicObjective) }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="filteredStrategicActions"
              optionLabel="name"
              optionValue="idStrategicAction"
              [(ngModel)]="product.strategicAction.idStrategicAction"
              [disabled]="!product.strategicAction?.strategicObjective?.idStrategicObjective"
              (onChange)="onSeleccionar($event.value, product)"
              [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ getStrategicActionName(product.strategicAction?.idStrategicAction) }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="financialFunds"
              optionLabel="name"
              optionValue="idFinancialFund"
              [(ngModel)]="product.financialFund.idFinancialFund"
              [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ getFinancialFundName(product.financialFund?.idFinancialFund) }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="managementCenters"
              optionLabel="name"
              optionValue="idManagementCenter"
              [(ngModel)]="product.managementCenter.idManagementCenter"
              [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ getManagementCenterName(product.managementCenter?.idManagementCenter) }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="costCenters"
              optionLabel="name"
              optionValue="idCostCenter"
              [(ngModel)]="product.costCenter.idCostCenter"
              [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ getCostCenterName(product.costCenter?.idCostCenter) }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="measurementTypes"
              optionLabel="name"
              optionValue="idMeasurementType"
              [(ngModel)]="product.measurementType.idMeasurementType"
              [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ getMeasurementTypeName(product.measurementType?.idMeasurementType) }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown
              [options]="priorities"
              optionLabel="name"
              optionValue="idPriority"
              [(ngModel)]="product.priority.idPriority"
              [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{ getPriorityName(product.priority?.idPriority) }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.expectedGoal" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.expectedGoal }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.executedGoal" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.executedGoal }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.goods" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.goods }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.remuneration" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.remuneration }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.services" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.services }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.goals[0].value" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.goals[0]?.value }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.goals[1].value" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.goals[1]?.value }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.goals[2].value" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.goals[2]?.value }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="product.goals[3].value" type="number" />
          </ng-template>
          <ng-template pTemplate="output">{{ product.goals[3]?.value }}</ng-template>
        </p-cellEditor>
      </td>

      <td>
        <div class="flex items-center justify-center gap-2">
          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(product)"
            text
            rounded
            severity="secondary">
          </button>

          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(product)"
            text
            rounded
            severity="success">
          </button>

          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(product, ri)"
            text
            rounded
            severity="danger">
          </button>

          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            (click)="eliminarActividad(ri, product)"
            text
            rounded
            severity="danger">
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>