:host {
  display: block;
  margin-top: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 60%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; /* esto centra la tabla */
  table-layout: fixed;
  word-wrap: break-word;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

thead {
  background-color: var(--primary);
  color: white;

  th {
    padding: 12px 20px;
    text-align: center;  // Cambiado a centrado
    font-weight: 600;
    font-size: 1rem;
    border: 2px solid #005fa3; /* borde más grueso para encabezados */

  }
}

tbody {
  tr {
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s ease;
    border-bottom: 3px solid #c0c0c0;

    &:hover {
      background-color: #f5faff;
    }
  }

  td {
    padding: 12px 20px;
    vertical-align: middle;
    font-size: 0.95rem;
    color: #333;
    text-align: center;  // Agregado centrado aquí también
    border: 2px solid #ddd;
  }
}

input[type="radio"] {
  margin-right: 0.5rem;
  accent-color: #007acc; // color azul para el radio button (Chrome, Edge, Firefox modernos)
  cursor: pointer;
  width: 18px;
  text-align: center;
  height: 18px;
  vertical-align: middle;
}

label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}
