:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background-color: #ffffff;
}

button {
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #2e7d31;
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 6px rgba(46, 125, 49, 0.08);
  font-weight: 600;
  cursor: pointer;
}
button:hover, button:focus {
  background-color: #219150;
  color: #fff;
  outline: none;
}
.success-animation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #2e7d31(255, 255, 255, 0.8); // semitransparente
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ng-lottie {
    width: 250px;
    height: 250px;
  }

  .message {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2e7d31;
    margin-top: 1rem;
  }
}