

<div class="selector-bar grid align-items-center">
  <div class="selector-group col-12 lg:col-4">
    <label class="selector-label">Dependencia:</label>
    <p-dropdown
      [options]="dependencyOptions"
      [(ngModel)]="selectedDependency"
      (onChange)="actualizarActividades()"
      placeholder="Seleccione"
      class="selector-dropdown"
      optionLabel="label"
      optionValue="value"
      [filter]="true"
      filterBy="label">
    </p-dropdown>
  </div>

  <div class="selector-group col-2 lg:col-2">
    <label class="selector-label">Año:</label>
    <p-dropdown
      [options]="optionsAno"
      [(ngModel)]="selectedAno"
      (onChange)="actualizarActividades()"
      placeholder="Seleccione"
      class="selector-dropdown"
      optionLabel="label"
      optionValue="value">
    </p-dropdown>
  </div>

  <div class="selector-group col-8 lg:col-2">
    <label class="selector-label">Trimestre:</label>
    <p-dropdown
      [options]="modificationOptions"
      [(ngModel)]="selectedModificationOption"
      (onChange)="onModificationChange()"
      placeholder="Seleccione una modificación"
      class="selector-dropdown"
      optionLabel="label"
      optionValue="value"
      [disabled]="foundFormulations.length <= 1"
    ></p-dropdown>
  </div>

  <div class="selector-group col-6 lg:col-3">
    <label class="selector-label">Actividad registrada:</label>
    <p-dropdown
      [options]="activityOptions"
      [(ngModel)]="selectedActivityId"
      (onChange)="onActivityChange($event)"
      placeholder="Seleccione"
      class="selector-dropdown"
      optionLabel="label"
      optionValue="value"
      [disabled]="activityOptions.length === 0"
      [filter]="true"
      filterBy="label">
    </p-dropdown>
  </div>
  <div><button
      pButton
      type="button"
      label="Buscar"
      class="p-button-sm buscar-btn-mt"
      (click)="emitirActividadSeleccionada()">
    </button></div>
</div>

