<div class="menu-bar-container p-d-flex p-ai-center p-jc-between">
  <div class="logo p-d-flex p-ai-center">    
    <img class="logo-essalud logo-adjust" src="resources/logo_essalud_white.svg" alt="Logo Essalud" />
    <!-- Logo SISPOI para móviles - se muestra solo en sm -->
    <img class="logo-sispoi-mobile" src="resources/logo_sispoi.png" alt="Logo Sispoi" />
  </div>

  <div class="system-name">
    <img class="logo-sispoi logo-adjust" src="resources/logo_sispoi.png" alt="Logo Sispoi" />
  </div>

  <div class="menu-actions p-d-flex p-ai-center">

    <button *ngIf="showBackButton" pButton icon="pi pi-arrow-left" class="p-button-text mr-1" (click)="goBack()"></button>

    <button pButton icon="pi pi-home" class="p-button-text" (click)="goToLogin()"></button>
    <!-- <p-tieredMenu [model]="settingsMenuItems" #settingsMenu popup></p-tieredMenu>
    <button pButton icon="pi pi-cog" class="p-button-text" (click)="settingsMenu.toggle($event)"></button> -->

    <p-tieredMenu [model]="userMenuItems" #userMenu popup></p-tieredMenu>
    <div class="user-section p-d-flex p-ai-center" (click)="userMenu.toggle($event)" style="cursor: pointer;">      
      <button pButton icon="pi pi-user" class="p-button-text"><span class="user-name">{{ userName }}</span></button>
    </div>

  </div>
</div>