.menu-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
  position: relative;
}

.logo img {
  height: 33px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: block; /* elimina espacios en línea que generan gaps verticales */
}


.system-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  .logo-sispoi {
      max-width: 120%; // Ajusta el ancho del logo central
      height: 50px; // Ajusta la altura del logo central
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
  }
}

.menu-actions {
  display: flex;
  align-items: center;
  gap: 0.2rem;  /* esto ya crea separación entre botones */
  flex: 0 0 auto;
}


.menu-actions button {
  background-color: white;
  color: var(--primary);
  border: none;
  border: 1px solid transparent;
}

.menu-actions button:hover {
  background-color: var(--primary);
  color: white;
  border: 1px solid white;
}

@media (max-width: 768px) {

  .logo img {
    height: 25px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    display: block; /* elimina espacios en línea que generan gaps verticales */
  }

  .system-name {
    .logo-sispoi {
        max-width: 55%;
    }
  }
  
}