<div class="menu-bar-container p-d-flex p-ai-center p-jc-between">
  <div class="logo p-d-flex p-ai-center">    
    <img class="logo-essalud" src="resources/logo_essalud_white.svg" alt="Logo Essalud" />
  </div>

  <div class="system-name">
    <img class="logo-sispoi" src="resources/logo_sispoi.png" alt="Logo Sispoi" />
  </div>

  <div class="menu-actions p-d-flex p-ai-center">

    <button *ngIf="showBackButton" pButton icon="pi pi-arrow-left" class="p-button-text mr-1" (click)="goBack()"></button>

    <button pButton icon="pi pi-home" class="p-button-text" (click)="goToLogin()"></button>
    <!-- <p-tieredMenu [model]="settingsMenuItems" #settingsMenu popup></p-tieredMenu>
    <button pButton icon="pi pi-cog" class="p-button-text" (click)="settingsMenu.toggle($event)"></button> -->

    <p-tieredMenu [model]="userMenuItems" #userMenu popup></p-tieredMenu>
    <button pButton icon="pi pi-user" class="p-button-text" (click)="userMenu.toggle($event)"></button>
    
  </div>
</div>