<div class="table-container">
  <p-table [value]="filas" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr class="head">
      <th rowspan="2">Denominación de la Actividad Operativa</th>
      <th rowspan="2">Indicador / Unidad de Medida</th>
      <th rowspan="2">Comportamiento Trimestral del Indicador</th>
      <th colspan="5" class="text-center">Meta Trimestral</th>
      <th colspan="3" class="text-center">Presupuesto (S/)</th>
      <th rowspan="2">Ejecutado</th>
      <th rowspan="2">Esperado</th>
      <th rowspan="2">Acciones</th>
    </tr>
    <tr class="head">
      <th>I</th>
      <th>II</th>
      <th>III</th>
      <th>IV</th>
      <th>Total</th>
      <th>Remuneraciones</th>
      <th>Bienes</th>
      <th>Servicios</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-fila let-i="rowIndex">
    <tr>
      <td>
        <input pInputText type="text" [(ngModel)]="fila.denominacion" />
      </td>
      <td>
        <input pInputText type="text" [(ngModel)]="fila.indicador" />
      </td>
      <td>
        <input pInputText type="text" [(ngModel)]="fila.comportamiento" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.metaI" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.metaII" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.metaIII" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.metaIV" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.metaTotal" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.remuneraciones" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.bienes" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.servicios" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.ejecutado" />
      </td>
      <td>
        <input pInputText type="number" [(ngModel)]="fila.esperado" />
      </td>
      <td class="acciones flex align-items-center gap-2">
        <button pButton icon="pi pi-save" class="p-button-rounded p-button-success p-button-text" (click)="guardarFila(i)"></button>
        <button pButton icon="pi pi-check-circle" class="p-button-rounded p-button-info p-button-text" (click)="cambiarEstado(i)"></button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="eliminarFila(i)"></button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="14" class="text-center text-500">(Sin datos)</td>
    </tr>
  </ng-template>
  </p-table>
  <div class="acciones-tabla mt-3 flex justify-content-end">
    <button pButton label="➕ Agregar fila" icon="pi pi-plus" class="p-button-outlined" (click)="agregarFila()"></button>
  </div>
</div>